name: Controller Flake8

on:
  pull_request:
    # Only consider PRs that change files for this asset, including ci scripts
    paths:
      - '.github/workflows/controller-flake8.yaml'
      - 'containers/controller/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # This linting can be cancelled if there is a newer commit to lint
  cancel-in-progress: true

jobs:
  controller-flake8:
    runs-on:
      labels: [self-hosted, linux, x64]
      group: light

    steps:
      - name: clone repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: install flake8
        run: pip install flake8

      - name: install flake8 annotations
        uses: rbialon/flake8-annotations@48819b39d57c621b5a64a1cdce40a5caa6a43b89 # v1

      - name: run flake8
        run: |
          flake8 containers/controller/src
